{%  extends 'base.html' %}

{% block title %}
About
{% endblock%}

{% block content %}
<h1 class="text-center">About Us</h1>
<p>Thrissur city Hospital is one of the largest and leading hospital in the region offering sophisticated diagnostic ans therapeautic care
    in virtally every speciality of medicin and surgery, treating thousands of patients in each year. </p>
<p>Established in 1940, with a clinacal structure and city hospital now grown to a 300 bed multi speciality general govt. Hospital in kerala.</p> 
<div>
    <h1 class=" text-center">CONTACT INFO</h1>
 
    <p> Nambiar Road, </p>

        
    <p>    Thrissur 680 020, Kerala, India </p>

    <p>    info@cityhospital.in</p>
    
        <p>    Phone: +91 487 6612345</p>
</div> 
{% endblock%}