{%  extends 'base.html' %}

{% block title %}
Contact
{% endblock%}

{% block content %}
<h1 class="text-center bg-info">Contact us</h1>
<div class="bg-light p-4">
<h2>Contact Address</h2>
<p>Karunakaran Nambiar Road, Thrissur - 680 020.
     Kerala, India</p>
</div>
<div class="bg-light p-4">     
<h3>Mobile number</h3>    
<p>PHONE +91 487 661 2345
    FAX +91 487 233 899</p> 
</div>
<h4 class="bg-light p-4">Quick Contact</h4>   
<h5 class="bg-light p-4">Miscellaneious Information</h5> 

{% endblock%}